@import url("main.css");

body {
    background-image: url("../img/error.jpg");
    background-size: cover;
    background-repeat: no-repeat;    min-height: 100vh;
}

.container-fluid {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    align-items: center;
    justify-content: center;
}

.content {
    justify-content: center;
}

.content > .error_box > h1 {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}