<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant.name}"></title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"/>

</head>
<body>
<div class="container-fluid">
    <a th:href="@{/}" class="navbar-brand">
        <i class="fa fa-cutlery" aria-hidden="true"></i> Delivery
    </a>
</div>

<div class="container-fluid">

    <div class="card" style="width:auto;">
        <div class="card-body">
            <h5 class="card-title" th:text="${restaurant.firstToUpper(restaurant.name)}"></h5>
            <p class="card-text" >
                <i class="fa fa-align-justify"></i>
                <span th:text="${restaurant.description}"></span>
            </p>
            <p class="card-text" th:text="${restaurant.firstToUpper(restaurant.type)}"></p>
            <p class="card-text ">
                <i class="mr-1 fa fa-map-marker"></i>
                <span th:text="${restaurant.address}"></span>
            </p>
        </div>

    <div class="accordion" id="accordionProducts">
        <div class="card" th:each="cat : ${restaurant.products}">
            <div class="card-header" th:id="'heading'+${cat.key}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button"
                            th:data-target="'#'+${cat.key}"
                            th:aria-controls="${cat.key}"
                            data-toggle="collapse"
                            aria-expanded="false"
                            th:text="${restaurant.firstToUpper(cat.key)}">
                    </button>
                </h2>
            </div>

            <div th:id="${cat.key}" class="collapse" th:aria-labelledby="'heading'+${cat.key}" data-parent="#accordionProducts">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="product : ${cat.value}" >
                            <div class="row">
                                <div class="col-10">
                                    <span th:text="${product.name}"></span>
                                </div>
                                <div class="col-2 text-right">
                                    <span th:text="${product.price}+'€'"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <small th:text="${product.ingredients}"></small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>